#textdomain wesnoth-Vaelia_Random_Adventures

#define VRA_DEV_SCENARIO LEVEL MAP_ID MAP_NAME
[scenario]
    #must match first_scenario in _main.cfg
    id={LEVEL}_vra_dev_{MAP_ID}
    name= _ "Vaelia Dev - " + {MAP_NAME}

    # final scenario should be null
    next_scenario={LEVEL}_vra_dev_{MAP_ID}

        map_generation=default
        [generator]
    		{GENERATE_MAP_{MAP_ID} 50 50 2 8 5}
        [/generator]
        {VRA_MAP_EVENTS_{MAP_ID}}

    {VRA_SCENE_URM}
[/scenario]
#enddef

{VRA_DEV_SCENARIO 99 RandomDev _"RandomDev"}
