#textdomain wesnoth-Vaelia_Random_Adventures

#ifndef AVOID_KEEP_LAVA
#define AVOID_KEEP_LAVA
#enddef
#endif

	{VRA_CAVE_TURNS}
	victory_when_enemies_defeated=yes
	{VRA_GAME_CARRY_OVER}
	carryover_add=no

	{VRA_SIDE_ONE}

	{VRA_AI_SIDE 2}
	{VRA_AI_SIDE 3}
	{VRA_AI_SIDE 4}
	{VRA_AI_SIDE 5}

	{VRA_CAVE_REBELS_FREQ}

	{VRA_AI_SIDE 7}
	{VRA_AI_SIDE 8}
	{VRA_AI_SIDE 9}

	# {STARTING_VILLAGES 1 5}

	[event]
		name=prestart

		{VRA_ROUND_COUNTER}

		{VRA_OBJECTIVES}

		[modify_side]
			side=1
			shroud=yes
			#fog=no
		[/modify_side]

		{VRA_SETUP_SIDE 2}
		{VRA_SETUP_SIDE 3}
		{VRA_SETUP_SIDE 4}
		{VRA_SETUP_SIDE 5}

		{VRA_SETUP_SIDE 7}
		{VRA_SETUP_SIDE 8}
		{VRA_SETUP_SIDE 9}

		{VRA_CLEAR_ADJACENT 2 Uu 1}
		{VRA_CLEAR_ADJACENT 2 Uu 2}
		{VRA_CLEAR_ADJACENT 2 Uu 3}
		{VRA_CLEAR_ADJACENT 2 Uu 4}
		{VRA_CLEAR_ADJACENT 2 Uu 5}

		{VRA_CLEAR_ADJACENT 2 Uu 7}
		{VRA_CLEAR_ADJACENT 2 Uu 8}
		{VRA_CLEAR_ADJACENT 2 Uu 9}

		{VRA_CAVE_ALLY_GANG_KILL}

                [if]
                        {VARIABLE_CONDITIONAL do_ally less_than_equal_to $vra.cave_ally_percent}
                [then]
                                {RESTORE_SIDE_TYPE 5}
                                {VRA_SWITCH_ALLIANCE 5}
                [/then]
                [else]
                                {RESTORE_SIDE_TYPE 5}
				{ERASE_CASTLE 5 Uu}
                                [kill]
                                        side=5
                                [/kill]
                                [modify_side]
                                        side=5
                                        hidden=yes
					team_name=HiddenTeam
                                [/modify_side]
                [/else]
                [/if]

		# create lava
		{VRA_RAND_CHOICE (2,3,4,7,8,9)}
		{RESTORE_SIDE_TYPE $random_choice}
		{ERASE_CASTLE_LAVA $random_choice Urb}
		[kill]
			side=$random_choice
		[/kill]
		[modify_side]
			side=$random_choice
			hidden=yes
			team_name=HiddenTeam
		[/modify_side]
		{CLEAR_VARIABLE random_choice}

		# kill off the extra 2
		{VRA_RAND_CHOICE (2,3,4,7,8,9)}
		{RESTORE_SIDE_TYPE $random_choice}
		{ERASE_CASTLE $random_choice Uu}
		[kill]
			side=$random_choice
		[/kill]
		[modify_side]
			side=$random_choice
			hidden=yes
			team_name=HiddenTeam
		[/modify_side]
		{CLEAR_VARIABLE random_choice}

		{VRA_RAND_CHOICE (2,3,4,7,8,9)}
		{RESTORE_SIDE_TYPE $random_choice}
		{ERASE_CASTLE $random_choice Uu}
		[kill]
			side=$random_choice
		[/kill]
		[modify_side]
			side=$random_choice
			hidden=yes
			team_name=HiddenTeam
		[/modify_side]
		{CLEAR_VARIABLE random_choice}

		# config kill
		[if]
			{VARIABLE_CONDITIONAL do_kill3 less_than_equal_to $vra.cave_enemy_kill_side3}
			[then]

		{VRA_RAND_CHOICE (2,3,4,7,8,9)}
		{RESTORE_SIDE_TYPE $random_choice}
		{ERASE_CASTLE $random_choice Uu}
		[kill]
			side=$random_choice
		[/kill]
		[modify_side]
			side=$random_choice
			hidden=yes
			team_name=HiddenTeam
		[/modify_side]
		{CLEAR_VARIABLE random_choice}
			[/then]
		[/if]

		[if]
			{VARIABLE_CONDITIONAL do_kill4 less_than_equal_to $vra.cave_enemy_kill_side4}
			[then]

		{VRA_RAND_CHOICE (2,3,4,7,8,9)}
		{RESTORE_SIDE_TYPE $random_choice}
		{ERASE_CASTLE $random_choice Uu}
		[kill]
			side=$random_choice
		[/kill]
		[modify_side]
			side=$random_choice
			hidden=yes
			team_name=HiddenTeam
		[/modify_side]
		{CLEAR_VARIABLE random_choice}
			[/then]
		[/if]
		{CLEAR_VARIABLE random_choice_arr}

		[if]
			{VARIABLE_CONDITIONAL do_gang less_than_equal_to $vra.cave_gang_percent}
			[then]
				[modify_side]
					[filter_side]
						[not]
							side=6
						[/not]
						[and]
						[not]
							team_name=HiddenTeam
						[/not]
						[/and]
						[and]
							[enemy_of]
								side=1
							[/enemy_of]
						[/and]
					[/filter_side]
					team_name=GangTeam
					user_team_name= _ "Axis Gang"
				[/modify_side]
			[/then]
		[/if]

		{VRA_CLEAR_CAVE_ALLY_GANG_KILL}

		{SCENE_OBJECTS}

		{NEXT_LAVA_EXISTING}
	[/event]

	#
	# Some volcanic ambiance
	#
	[event]
		name=turn end
		first_time_only=no

		{EXPAND_LAVA_EXISTING}
	[/event]

	[event]
		name=victory

		{CLEAR_VARIABLE lava_body.edge}
		{CLEAR_VARIABLE lava_body}
	[/event]

	{VRA_RC_DIALOG}
	{VRA_SPEECH_EVENTS}
	{VRA_TIMES_UP}
	{VRA_HERO_DIE}
	{VRA_ENEMIES_DEFEATED}
	{VRA_CLEAR_VARIABLES_VICTORY}
	{VRA_CLEAR_VARIABLES_DEFEAT}
	# {VRA_DEBUG_LOCS}

#ifdef AVOID_KEEP_LAVA
#undef AVOID_KEEP_LAVA
#endif
