#textdomain wesnoth-Vaelia_Random_Adventures

#define GENERATE_MAP_Winter1 ITERATIONS MAP_WIDTH MAP_HEIGHT ISLAND_SIZE CASTLE_SIZE PLAYERS
        name=default
	castle_size={CASTLE_SIZE}
	island_size={ISLAND_SIZE}
        map_width={MAP_WIDTH}
        map_height={MAP_HEIGHT}
        iterations={ITERATIONS}
        hill_size=6
        max_lakes=40
        villages=25
        players={PLAYERS}
        min_lake_height=500
        lake_size=150
        river_frequency=20

        temperature_iterations=2000
        temperature_size=6

        roads=4
        road_windiness=3

        #list of common terrain types which come in at
        #different heights, from highest to lowest
        [height]
            height=600
            terrain=Mm
        [/height]
        [height]
            height=500
            terrain=Hhd
        [/height]
        [height]
            height=100
            terrain=Gd
        [/height]
        [height]
            height=5
            terrain=Ww
        [/height]
        [height]
            height=0
            terrain=Wo
        [/height]

        #water at cold temperatures becomes ice
	{VRA_CONVERT_COLD 50 1000 (Ww, Wo) Ai}
	{VRA_CONVERT_VERY_COLD 50 1000 (Ww, Wo) Ai}

        #forest appears at moderate temperatures
	{VRA_CONVERT_COOL 200 1000 Gd Aa^Fpa}

        #forest appears at moderate temperatures
	{VRA_CONVERT_WARM 200 1000 Gd Gll^Fp}

        #at low temperatures, snow appears
	{VRA_CONVERT_COLD 50 1000 Gd Aa}
	{VRA_CONVERT_COOL 50 1000 Gd Aa}
	{VRA_CONVERT_WARM 50 1000 Gd Aa}

        #hills at low temperatures get snow on them
	{VRA_CONVERT_COLD 0 1000 Hhd Ha}
	{VRA_CONVERT_VERY_COLD 0 1000 Hhd Ha}

        #mountains at low temperatures get snow on them
	{VRA_CONVERT_COLD 0 1000 Mm Ms}
	{VRA_CONVERT_VERY_COLD 0 1000 Mm Ms}

        #road costs
        [road_cost]
            terrain=Gd
            cost=10
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Gll^Fp
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Aa^Fpa
            cost=20
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ww
            cost=50
            convert_to_bridge=Ww^Bw|, Ww^Bw/, Ww^Bw\
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Hhd
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Ha
            cost=25
            convert_to=Re
        [/road_cost]

        [road_cost]
            terrain=Mm
            cost=40
            convert_to=Re
        [/road_cost]

        #road going through snow
        [road_cost]
            terrain=Aa
            cost=20
            convert_to=Re
        [/road_cost]


        {MIN_COST_ROAD Re}
        {MIN_COST_ROAD Ww^Bw|}
        {MIN_COST_ROAD Ww^Bw/}
        {MIN_COST_ROAD Ww^Bw\}
        {MIN_COST_ROAD Ch}

        [village]
            terrain=Gd
            convert_to=Gd^Vh
            adjacent_liked=Gd, Ww, Ww, Ww, Ww, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
            rating=6
        [/village]

        #villages in forest are Elvish
        [village]
            terrain=Gs^Fp
            convert_to=Gg^Ve
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gs^Fp, Gll^Fp, Gll^Fp
        [/village]

        [village]
            terrain=Aa^Fpa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Aa^Fpa, Aa^Fpa, Aa^Fpa
        [/village]

        [village]
            terrain=Hhd
            convert_to=Hhd^Vhh
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        [village]
            terrain=Ha
            convert_to=Ha^Vhha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Ha, Gll^Fp
        [/village]

        [village]
            terrain=Mm
            convert_to=Mm^Vhh
            rating=3
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp
        [/village]

        #villages in snow
        [village]
            terrain=Aa
            convert_to=Aa^Vha
            rating=4
            adjacent_liked=Gd, Ww, Ww, Ww, Ww^Bw|, Ww^Bw/, Ww^Bw\, Rr, Rr, Re, Re, Gs^Ve, Gd^Vh, Hhd, Gll^Fp, Aa
        [/village]

        [castle]
            valid_terrain=Gd, Gll^Fp, Hhd, Aa^Fpa, Ha, Re, Aa
            min_distance=12
        [/castle]

        [naming]
            {VILLAGE_NAMES}
        [/naming]

        [village_naming]
            {VILLAGE_NAMES}
        [/village_naming]
#enddef

#define VRA_MAP_EVENTS_Winter1
            {DEFAULT_MUSIC_PLAYLIST}
            {DEFAULT_SCHEDULE}

            [event]
                name=prestart

                {VRA_VILLAGE_COASTLINE}

                {SCATTER_EMBELLISHMENTS G*,D*,R*,Uu*,Ur*,Aa ^Es 2}
                {SCATTER_EMBELLISHMENTS Uu* ^Emf 2}
                {SCATTER_EMBELLISHMENTS G*,R*,Aa ^Wm 0.25}
            [/event]
#enddef
