#textdomain wesnoth-Vaelia_Random_Adventures

#define GENERATE_LUA_VolcanoNorth
        id="cavegen"
        config_name="Lua Cave Generator"
        create_map = << return wesnoth.require("cave_map_generator").generate_map(...) >>

        map_width=50
        map_height=70
        village_density=50
        terrain_wall = "Xu"
        terrain_clear = "Uu"
        terrain_keep = "Kud"
        terrain_castle = "Cud"
        terrain_village = "Uu^Vud"

        transform=flip_x
        transform_chance=50

        #
        # The chamber with the player. Somewhere in the far south
        #
        [chamber]
            id=player
            x=15-35
            y=65
            size=8
            jagged=50
            [item_location]
                id = 1
                place_castle = yes
            [/item_location]
        [/chamber]

        #
        # The antechambers
        #
        [chamber]
            id=antechamber_1
            x=10-25
            y=50-60
            size=7
            jagged=5
            {PASSAGE_NORMAL player 2 10 10}
            [item_location]
                id = 2
                place_castle = yes
            [/item_location]
        [/chamber]
        [chamber]
            id=antechamber_2
            x=25-40
            y=50-60
            size=7
            jagged=2
            {PASSAGE_NORMAL player 2 3 1}
            {PASSAGE_CHANCE 40 antechamber_1 1 9 9}
            [item_location]
                id = 3
                place_castle = yes
            [/item_location]
        [/chamber]

        #
        # The central volcano
        #
        [chamber]
            id=center
            x=25-26
            y=35-36
            size=2
            jagged=1
            {PASSAGE_NORMAL antechamber_1 1 20 3}
            {PASSAGE_NORMAL antechamber_2 1 20 3}
        [/chamber]

        #
        # The 5 minichambers encircling the central volcano and a 6th chamber
        # to serve as the exit
        #
        [chamber]
            id=mini_1
            x=10-16
            y=36-40
            size=5
            jagged=2
            {PASSAGE_NORMAL center 1 5 2}
            {PASSAGE_NORMAL antechamber_1 2 5 2}
        [/chamber]
        [chamber]
            id=mini_2
            x=8-20
            y=17-26
            size=5
            jagged=3
            {PASSAGE_NORMAL center 1 5 2}
            {PASSAGE_NORMAL mini_1 1 5 2}
        [/chamber]
        [chamber]
            id=mini_3
            x=6-44
            y=14-30
            size=3
            jagged=4
            {PASSAGE_NORMAL center 1 5 2}
            {PASSAGE_NORMAL mini_2 2 5 2}
            [item_location]
                id = exitmine
            [/item_location]
        [/chamber]
        [chamber]
            id=mini_4
            x=30-42
            y=17-26
            size=5
            jagged=5
            {PASSAGE_NORMAL center 1 5 2}
            {PASSAGE_NORMAL mini_3 2 5 2}
        [/chamber]
        [chamber]
            id=mini_5
            x=34-40
            y=36-40
            size=5
            jagged=5
            {PASSAGE_NORMAL mini_4 2 5 2}
            {PASSAGE_NORMAL center 1 5 2}
            {PASSAGE_NORMAL antechamber_2 2 5 2}
        [/chamber]
        [chamber]
            id=exit
            x=25
            y=1
            size=2
            jagged=1
            {PASSAGE_NORMAL mini_2 1 5 2}
            {PASSAGE_NORMAL mini_3 1 5 2}
            {PASSAGE_NORMAL mini_4 1 5 2}
            [item_location]
                id = exittrap
            [/item_location]
        [/chamber]

        #
        # There are 4 chambers for enemies randomly scattered on the map
        #
        [chamber]
            id=enemy_1
            x=6-15
            y=45-55
            size=5
            jagged=3
            {PASSAGE_NORMAL mini_1 2 5 2}
            {PASSAGE_CHANCE 60 mini_2 1 5 2}
            {PASSAGE_CHANCE 40 antechamber_2 1 5 2}
            [item_location]
                id = 4
                place_castle = yes
            [/item_location]
        [/chamber]
        [chamber]
            id=enemy_2
            x=6-15
            y=1-35
            size=5
            jagged=3
            {PASSAGE_NORMAL mini_2 2 5 2}
            {PASSAGE_NORMAL enemy_1 2 5 5}
            {PASSAGE_CHANCE 60 mini_1 1 5 2}
            {PASSAGE_CHANCE 40 mini_3 1 5 2}
            [item_location]
                id = 5
                place_castle = yes
            [/item_location]
        [/chamber]
        [chamber]
            id=enemy_3
            x=35-45
            y=1-35
            size=5
            jagged=3
            {PASSAGE_NORMAL mini_4 2 5 2}
            {PASSAGE_CHANCE 60 mini_5 1 5 2}
            {PASSAGE_CHANCE 40 mini_3 1 5 2}
            [item_location]
                id = 6
                place_castle = yes
            [/item_location]
        [/chamber]
        [chamber]
            id=enemy_4
            x=35-45
            y=45-55
            size=5
            jagged=3
            {PASSAGE_NORMAL mini_5 2 5 2}
            {PASSAGE_NORMAL enemy_3 2 5 5}
            {PASSAGE_CHANCE 60 mini_4 1 5 2}
            {PASSAGE_CHANCE 40 antechamber_2 1 5 2}
            [item_location]
                id = 7
                place_castle = yes
            [/item_location]
        [/chamber]
#enddef

#define VRA_LUA_EVENTS_VolcanoNorth
    #
    # This is a custom schedule that gives everything a slight
    # reddish hue and gently pulsates. -30, -40, -40 are default
    # values that look good
    #
    {UNDERGROUND_VOLCANO -27 -37 -37}
    {UNDERGROUND_VOLCANO -28 -38 -38}
    {UNDERGROUND_VOLCANO -32 -42 -42}
    {UNDERGROUND_VOLCANO -36 -46 -46}
    {UNDERGROUND_VOLCANO -37 -47 -47}
    {UNDERGROUND_VOLCANO -36 -46 -46}
    {UNDERGROUND_VOLCANO -32 -42 -42}
    {UNDERGROUND_VOLCANO -28 -38 -38}

    {SCENARIO_MUSIC "the_deep_path.ogg"}
    {EXTRA_SCENARIO_MUSIC "knalgan_theme.ogg"}
    {EXTRA_SCENARIO_MUSIC "heroes_rite.ogg"}
    {EXTRA_SCENARIO_MUSIC "underground.ogg"}
    {EXTRA_SCENARIO_MUSIC "into_the_shadows.ogg"}

    [event]
        name=prestart

[terrain_mask]
	x,y=1,1
	mask="{~add-ons/Vaelia_Random_Adventures/maps/03_vra_volcano.mask}"

	[rule]      # Make sure your castle keep and cave walls are not converted
		old=Cud, Xu, Kud
		new=Re, Uu^Vud, Uh, Uu^Uf
		use_old=yes
	[/rule]
	[rule]      # Convert cave villages to stone villages
		old=Vu
		new=Re, Uu^Vud, Uh, Uu^Uf   # wmllint: ignore
		terrain=Uu^Vud
	[/rule]
	[rule]      # Add stone villages
		old=Uu
		new=Uu^Vud
		terrain=Uu^Vud
	[/rule]
	[rule]      # Add roads
		old=Uu
		new=Re
		terrain=Re
	[/rule]
	[rule]      # Add hilly caves
		old=Uu
		new=Uh
		terrain=Uh
	[/rule]
	[rule]      # Add a mushroom forest
		old=Uu
		new=Uu^Uf
		terrain=Uu^Uf
	[/rule]
[/terrain_mask]
    [/event]

    {PLACE_EXITS north}
#enddef
