#textdomain wesnoth-Vaelia_Random_Adventures

# types that are allowed to be recruited if surrendered or advanced to.
#define VRA_POSSIBLE_RECRUIT
{VARIABLE vra_possible_recruit "
Bandit,
Bone Shooter,
Bowman,
Cavalryman,
Dark Adept,
Dark Sorcerer,
Deathblade,
Dragoon,
Drake Arbiter,
Drake Burner,
Drake Clasher,
Drake Fighter,
Drake Flare,
Drake Glider,
Drake Thrasher,
Drake Warrior,
Duelist,
Dune Apothecary,
Dune Burner,
Dune Explorer,
Dune Herbalist,
Dune Piercer,
Dune Raider,
Dune Rider,
Dune Rover,
Dune Scorcher,
Dune Skirmisher,
Dune Soldier,
Dune Spearguard,
Dune Sunderer,
Dune Swiftrider,
Dune Swordsman,
Dwarvish Berserker,
Dwarvish Fighter,
Dwarvish Guardsman,
Dwarvish Pathfinder,
Dwarvish Runesmith,
Dwarvish Scout,
Dwarvish Stalwart,
Dwarvish Steelclad,
Dwarvish Thunderer,
Dwarvish Thunderguard,
Dwarvish Ulfserker,
Elvish Archer,
Elvish Captain,
Elvish Druid,
Elvish Fighter,
Elvish Hero,
Elvish Marksman,
Elvish Ranger,
Elvish Rider,
Elvish Scout,
Elvish Shaman,
Elvish Sorceress,
Fencer,
Fire Drake,
Footpad,
Ghost,
Ghoul,
Goblin Impaler,
Goblin Knight,
Goblin Pillager,
Goblin Rouser,
Goblin Spearman,
Gryphon Master,
Gryphon Rider,
Heavy Infantryman,
Horseman,
Javelineer,
Knight,
Lancer,
Lieutenant,
Longbowman,
Mage,
Mermaid Enchantress,
Mermaid Initiate,
Mermaid Priestess,
Merman Fighter,
Merman Hunter,
Merman Netcaster,
Merman Spearman,
Merman Warrior,
Necrophage,
Ogre,
Orcish Archer,
Orcish Assassin,
Orcish Crossbowman,
Orcish Grunt,
Orcish Leader,
Orcish Ruler,
Orcish Slayer,
Orcish Warrior,
Outlaw,
Peasant,
Pikeman,
Poacher,
Red Mage,
Revenant,
Rogue,
Ruffian,
Saurian Ambusher,
Saurian Augur,
Saurian Oracle,
Saurian Skirmisher,
Saurian Soothsayer,
Sergeant,
Shadow,
Shock Trooper,
Skeleton Archer,
Skeleton,
Sky Drake,
Spearman,
Swordsman,
Thief,
Thug,
Trapper,
Troll Rocklobber,
Troll Shaman,
Troll Whelp,
Troll,
White Mage,
Wolf Rider,
Woodsman,
Wraith,
Young Ogre,
"}
#enddef
