#textdomain wesnoth-Vaelia_Random_Adventures

# VRA_PLAYER: setting for the player
# VRA_REG: setting for regular maps (Plain, Desert, March, Winter)
# VRA_CAVE: setting for cave maps.
# VRA_VOLCANO: setting for the find the exit volcano map.

######################
## VRA_PLAYER settings
######################

# Starting gold for the player (EASY NORMAL HARD)
#define VRA_PLAYER_GOLD
{GOLD 400 300 200}
#enddef

# Carry over percentage (EASY NORMAL HARD)
#define VRA_PLAYER_CARRY_OVER
{QUANTITY carryover_percentage 100 80 60}
#enddef

###################
## VRA_REG settings
###################

# Number of turns (EASY NORMAL HARD)
#define VRA_REG_TURNS
{TURNS 40 30 20}
#enddef

# "1..2" Max number of rebels (for player).
# "1..3" Max number of rebels (for enemies).
# 80 Chance that no rebels come out.
#define VRA_REG_REBELS_FREQ
{VRA_SIDE_INDIGS 6 {VRA_RECRUIT_INDIGS} "1..2" "1..3" 80}
#enddef

# Percentage that up to 2 enemies sides get wiped out at the start of a round
#define VRA_REG_ENEMY_KILL_PERCENT
30
#enddef

# Percentage of starting with an allied faction
#define VRA_REG_ALLY_PERCENT
90
#enddef

####################
## VRA_CAVE settings
####################

# Number of turns (EASY NORMAL HARD)
#define VRA_CAVE_TURNS
{TURNS 40 30 20}
#enddef

# "1..2" Max number of rebels (for player).
# "1..3" Max number of rebels (for enemies).
# 80 Chance that no rebels come out.
#define VRA_CAVE_REBELS_FREQ
{VRA_SIDE_INDIGS 6 {VRA_RECRUIT_INDIGS_CAVE} "1..2" "1..3" 80}
#enddef

# Percentage of starting with an allied faction
#define VRA_CAVE_ALLY_PERCENT
90
#enddef


#######################
## VRA_VOLCANO settings
#######################

# Number of turns (EASY NORMAL HARD)
#define VRA_VOLCANO_TURNS
{TURNS 50 40 30}
#enddef
