#textdomain wesnoth-Vaelia_Random_Adventures

# you can call macros using the format {STOOGE_REPLY}

#define VRA_CLEAR_ADJACENT VRA_RADIUS VRA_TERRAIN VRA_SIDE
[store_locations]
	[and]
	[filter]
		#id=Vaelia
		side={VRA_SIDE}
		canrecruit=yes
	[/filter]

	radius={VRA_RADIUS}

	#                [filter_radius]
	#                    terrain=X*
	#                    terrain=C*,K*
	#                [/filter_radius]
	[/and]

	[not]
	[filter]
		side={VRA_SIDE}
		canrecruit=yes
	[/filter]
	[/not]

	[not]
		terrain=C*,K*,U*
	[/not]

	variable=adjacent_cavewall
[/store_locations]

[foreach]
	array=adjacent_cavewall
	[do]
		[terrain]
			x,y=$this_item.x,$this_item.y
			terrain={VRA_TERRAIN}
			#terrain=Uu^Uf
			#terrain=Uu^Emf
		[/terrain]
	[/do]
[/foreach]

{CLEAR_VARIABLE adjacent_cavewall}
#enddef

#define VRA_SIDE_ONE
[side]
	# Scenario sides
	# https://wiki.wesnoth.org/SideWML

	# Starting postion on the map is set inside the map file as "1 Kh"
	# Human player is side 1
	side=1

	# possible values are human or ai
	controller=human

	# id from previous scenario
	save_id=Vaelia

	# internal side leader id value
	id=Vaelia

	# name of the leader
	name= _ "Vaelia"

	# type of leader
	type=Sergeant

	# name is unchangable
	# unrenameable=yes

	# if the leader of this side can recruit
	canrecruit=yes

	# types that leader can recruit
	#recruit="Elvish Fighter, My Wesnoth Unit"
	recruit=""

	# starting gold space separated for different difficulties
	gold={VRA_GAME_GOLD}
	income={VRA_GAME_INCOME}
	#{INCOME 2 0 -2}
	# {NO_INCOME}

	# internal unseen team names. all sides with the same team_name are allies.
	team_name=VaeliaTeam
	user_team_name= _ "Vaelia Allies"

	{QUANTITY shroud no no yes}
	{QUANTITY fog no yes yes}
	share_vision="none"
[/side]
#enddef

#define VRA_MODIFY_SIDE_ONE
	[gold]
		side=1
		amount="$(min( [20000, ({VRA_GAME_GOLD} * $vra.round) ]))"
	[/gold]

	[modify_side]
		side=1
		income="$(min( [100, ({VRA_GAME_INCOME} + $vra.round) ]))"
	[/modify_side]
#enddef

#define VRA_NEXT_ENDLEVEL MESSAGE
[switch]
	variable=vra.map
	[case]
		value=Sigurd
		{CLEAR_VARIABLE vra.map}

		{VARIABLE vra.level 5}
		{VRA_URM_FETCH_NEXT_MAP}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=$vra.next_scenario
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
		{CLEAR_VARIABLE vra.level}
		{CLEAR_VARIABLE vra.next_scenario}
	[/case]
	[case]
		value=Cave
		{CLEAR_VARIABLE vra.map}

		{VARIABLE vra.level 4}
		{VRA_RC_FETCH_NEXT_MAP}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=$vra.next_scenario
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
		{CLEAR_VARIABLE vra.level}
		{CLEAR_VARIABLE vra.next_scenario}
	[/case]
	[case]
		value=Plain
		{CLEAR_VARIABLE vra.map}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=02_vra_Plain
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
	[/case]
	[case]
		value=Marsh
		{CLEAR_VARIABLE vra.map}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=02_vra_Marsh
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
	[/case]
	[case]
		value=Desert
		{CLEAR_VARIABLE vra.map}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=02_vra_Desert
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
	[/case]
	[case]
		value=Winter
		{CLEAR_VARIABLE vra.map}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		[endlevel]
			result=victory
			next_scenario=02_vra_Winter
			carryover_report=yes
			bonus=no
			linger_mode=no
		[/endlevel]
		{CLEAR_VARIABLE vra.map}
	[/case]
	[case]
		value=Volcano
		{CLEAR_VARIABLE vra.map}

		[message]
			speaker=unit
			message={MESSAGE}
		[/message]

		{VARIABLE_OP do_cave rand "0..1"}
		[if]
			{VARIABLE_CONDITIONAL do_cave numerical_equals 1}
			[then]
			[endlevel]
				result=victory
				next_scenario=03_vra_volcano
				carryover_report=yes
				bonus=no
				linger_mode=no
			[/endlevel]
			{CLEAR_VARIABLE vra.map}
			{CLEAR_VARIABLE do_cave}
			[/then]
		[else]
			[endlevel]
				result=victory
				next_scenario=03_vra_volcano_south
				carryover_report=yes
				bonus=no
				linger_mode=no
			[/endlevel]
			{CLEAR_VARIABLE vra.map}
			{CLEAR_VARIABLE do_cave}
		[/else]
		[/if]
		{CLEAR_VARIABLE do_cave}
		{CLEAR_VARIABLE vra.map}
	[/case]
	[else]
		{CLEAR_VARIABLE vra.map}
		[endlevel]
			result=victory
			next_scenario=01_vra_select
			bonus=yes
			carryover_report=yes
		[/endlevel]
	[/else]
[/switch]
{CLEAR_VARIABLE vra.map}
{CLEAR_VARIABLE vra.level}
{CLEAR_VARIABLE vra.next_scenario}
#enddef

#define VRA_ENEMIES_DEFEATED
[event]
	name=enemies defeated

	{CLEAR_VARIABLE vra.map}
	{VRA_NEXT_ENDLEVEL _""}
[/event]
#enddef

#define VRA_CLEAR_VARIABLES
{CLEAR_VARIABLE lava_body,lava_count,sceptre_x,sceptre_y}

{CLEAR_VARIABLE vra.round}
{CLEAR_VARIABLE vra.map}
{CLEAR_VARIABLE vra.enemy}
{CLEAR_VARIABLE vra.level}
{CLEAR_VARIABLE vra.next_scenario}

{CLEAR_VARIABLE vra.enemy_choice}
{CLEAR_VARIABLE vra.map_choice}
{CLEAR_VARIABLE vra.urm_map_choice}

{CLEAR_VARIABLE vra.is_recruit_set}
{CLEAR_VARIABLE vra.vaelia_recruit}
{CLEAR_VARIABLE vra.possible_recruit}

{CLEAR_VARIABLE vra.vaelia_demote1_type}
{CLEAR_VARIABLE vra.vaelia_demote1_type1}

{CLEAR_VARIABLE vra.vaelia_demote2_type}
{CLEAR_VARIABLE vra.vaelia_demote2_type1}
{CLEAR_VARIABLE vra.vaelia_demote2_type2}

{CLEAR_VARIABLE vra.vaelia_demote3_type}
{CLEAR_VARIABLE vra.vaelia_demote3_type1}
{CLEAR_VARIABLE vra.vaelia_demote3_type2}
{CLEAR_VARIABLE vra.vaelia_demote3_type3}

{CLEAR_VARIABLE vra}

{CLEAR_VARIABLE dialog.start}
{CLEAR_VARIABLE dialog.last_breath}
{CLEAR_VARIABLE dialog.victory}
{CLEAR_VARIABLE dialog}
#enddef

#define VRA_ROUND_COUNTER
{VARIABLE_OP vra.round add 1}
#enddef

#define VRA_OBJECTIVES
# Game objectives in red and green
[objectives]
	side=1
	#delayed_variable_substitution=yes #so vra.round note works correctly when using debug
	# objective condition have 2 values either win or lose.
	[objective]
		condition=win
		description= _ "Defeat all enemies"
	[/objective]

	[objective]
		condition=win
		description= _ "Resist until turns run out"
		show_turn_counter=yes
	[/objective]

	[objective]
		condition=lose
		description= _ "Death of Vaelia"
		[show_if]
			#{VARIABLE_CONDITIONAL vra.round numerical_equals 2}
			{VARIABLE_CONDITIONAL vra.round less_than_equal_to 5}
		[/show_if]
	[/objective]

	[objective]
		{ALTERNATIVE_OBJECTIVE_CAPTION}
		condition=win
		description= _ "Death of Vaelia"
		[show_if]
			{VARIABLE_CONDITIONAL vra.round greater_than_equal_to 6}
		[/show_if]
	[/objective]

	[gold_carryover]
		{VRA_GAME_CARRY_OVER}
		bonus=yes
	[/gold_carryover]

	[note]
		description="<b>" + _ "Round $vra.round|." + "</b>"
	[/note]

	#{HAS_NO_TURN_LIMIT}
	#{TURNS_RUN_OUT}

	# No {IS_LAST_SCENARIO}, because the player can win and keep on playing
[/objectives]
#enddef

#define VRA_FACTION_CASE VRA_SIDE_LEADER VRA_SIDE_NUMBER
	[case]
	value={VRA_SIDE_LEADER}
	[unit]
		side={VRA_SIDE_NUMBER}
		type={VRA_LEADER_{VRA_SIDE_LEADER}}
		id={VRA_SIDE_LEADER}{VRA_SIDE_NUMBER}
		name="{VRA_SIDE_LEADER}"
		generate_name=no
		random_traits=yes
		random_gender=yes
		location_id={VRA_SIDE_NUMBER}
		canrecruit=yes
		facing=sw
	[/unit]

	[modify_side]
		side={VRA_SIDE_NUMBER}
		team_name={VRA_SIDE_LEADER}{VRA_SIDE_NUMBER}
		user_team_name= _ "{VRA_SIDE_LEADER}{VRA_SIDE_NUMBER}"
		recruit={VRA_RECRUIT_{VRA_SIDE_LEADER}}
		fog=yes
		share_vision="none"
		#scroll_to_leader=no
		#shroud=yes
		# {FLAG_VARIANT knalgan}
		# {FLAG_VARIANT loyalist}
		# {FLAG_VARIANT wood-elvish}
		# {FLAG_VARIANT6 ragged}
	[/modify_side]
	# Give the foolish hero gold & income based on vra.round
	# Set ai aggression, it hits 1.0 at 7 vra.round, ensuring the enemy will attack.
	[modify_side]
		side={VRA_SIDE_NUMBER}
#ifdef HARD
		gold="$(min( [2000, (250 * $vra.round) ]))"
		income="$(min( [80, (2 + $vra.round) ]))"
#else
		gold="$(min( [500, (125 * $vra.round) ]))"
		income="$(min( [20, (0 + $vra.round) ]))"
#endif

		[ai]
#ifdef HARD
			aggression="$(min( [1.0, (0.3 + 0.1 * $vra.round) ] ) )"
#endif
			# villages_per_scout=8
			# village_value=1
			# leader_value=1
			# attack_depth=5
			# recruitment_pattern=fighter,fighter,archer,scout,mixed fighter,healer
			recruitment_pattern={VRA_PATTERN_{VRA_SIDE_LEADER}}
#ifdef AVOID_KEEP
			[avoid]
				x,y=24-26,24-26
			[/avoid]
#endif
		[/ai]
	[/modify_side]
	[/case]
#enddef

#define VRA_SETUP_SIDE  VRA_SIDE_NUMBER
	{VRA_RC_CHOOSE_ENEMY}

	[switch]
		variable=vra.enemy

	{VRA_ENEMY_CASE {VRA_SIDE_NUMBER}}
	[/switch]

	{CLEAR_VARIABLE vra.enemy}
#enddef

#define VRA_HERO_DIE
	[event]
		name=die
		[filter]
			id=Vaelia
		[/filter]

		[if]
			{VARIABLE_CONDITIONAL vra.round greater_than_equal_to 6}
			[then]
				[endlevel]
					next_scenario=null
					carryover_report=no
					save=no
					linger_mode=no
				[/endlevel]
				{VRA_CLEAR_VARIABLES}
			[/then]

			# Normal defeat condition before sufficient repetitions
			[else]
				[endlevel]
					result=defeat
				[/endlevel]
				{VRA_CLEAR_VARIABLES}
			[/else]
		[/if]
	[/event]

	[event]
		# Spaces in event names can be interchanged with underscores.
		# triggered when you run out of turns.
		name=time over
		[message]
			speaker=Vaelia
			message= _ "Fallback and regroup..."
		[/message]
		[endlevel]
			result=victory
			bonus=no
		[/endlevel]
	[/event]
#enddef

#define ENEMY_SURRENDER
[event]
	name=last breath
	first_time_only=no
	[filter]
		#[not]
		#side=1
		#[/not]
		canrecruit=no
	[/filter]
	[filter_second]
		side=1
	[/filter_second]

#	[gold]
#		side=1
#		amount=$unit.cost
#	[/gold]

	{VARIABLE check_level $unit.level}
	[if]
		{VARIABLE_CONDITIONAL check_level less_than_equal_to 1}
	[then]
		{VARIABLE_OP do_surrender rand "1..100"}
		[if]
			{VARIABLE_CONDITIONAL do_surrender less_than_equal_to {VRA_GAME_SURRENDER_PERCENT}}
		[then]
			[message]
				speaker=second_unit
				message= _ "Give in!"
			[/message]
			[message]
				speaker=unit
				message= _ "I surrender!"
			[/message]
			[store_unit]
				[filter]
					id=$unit.id
				[/filter]
				variable=side_store
			[/store_unit]
			[kill]
				id=$side_store.id
			[/kill]
			# {LOYAL_UNIT 1 (Elvish Fighter) 19 16}
			# {NAMED_LOYAL_UNIT 1 (Elvish Fighter) 19 16 (Myname) ( _ "Myname")}
			[unit]
				type=$side_store.type
				side=1
				x = $side_store.x
				y = $side_store.y
				facing = $side_store.facing
				name=$side_store.name
				#generate_name=yes
				gender=$side_store.gender
				#random_gender=yes
				#random_traits=yes
				random_traits=no
				# upkeep=loyal
				# upkeep=full
				[modifications]
					{TRAIT_LOYAL}
				[/modifications]
				{IS_LOYAL}
			[/unit]
			{CLEAR_VARIABLE side_store}
		[/then]
		[/if]
		{CLEAR_VARIABLE do_surrender}
	[/then]
	[/if]
	{CLEAR_VARIABLE check_level}

[/event]

[event]
	name=die
	first_time_only=no
	[filter]
		canrecruit=no
	[/filter]
	[filter_second]
		side=1
	[/filter_second]
	[gold]
		side=1
		amount=$unit.cost
	[/gold]

	[floating_text]
		[filter]
			id=$second_unit.id
		[/filter]
		text= _ "+$unit.cost|"
	[/floating_text]
[/event]
#enddef

#define VRA_SWITCH_ALLIANCE VRA_SIDE_NUMBER
	[modify_side]
		side={VRA_SIDE_NUMBER}
		team_name=VaeliaTeam
		user_team_name= _ "Vaelia Allies"
	[/modify_side]
#enddef

#define VRA_ALLY_SPEECH
[event]
	name=start

	[store_side]
		team_name=GangTeam
		variable=temp_enemies
	[/store_side]

	[if]
		{VARIABLE_CONDITIONAL temp_enemies.length greater_than 0}
	[then]
		[message]
			side=1
			[and]
				canrecruit=yes
			[/and]
			message=_"They allied themselves against us!"
		[/message]
	[/then]
	[/if]
	{CLEAR_VARIABLE temp_enemies}

	[store_unit]
		[filter]
			[not]
				side=1
			[/not]
			[and]
				canrecruit=yes
			[/and]
			[and]
				[filter_side]
					#team_name=VaeliaTeam
					[allied_with]
						side=1
					[/allied_with]
					#[has_ally]
					#	side=1
					#[/has_ally]
				[/filter_side]
			[/and]
		[/filter]
		variable=temp_ally
	[/store_unit]

	[if]
		{VARIABLE_CONDITIONAL temp_ally.length greater_than 0}
	[then]
		[message]
			speaker=$temp_ally.id
			message= _ "We stand with you till the end!"
		[/message]

		[message]
			side=1
			[and]
				canrecruit=yes
			[/and]
			message=_"Aye, to the bitter end!"
		[/message]
	[/then]
	[/if]
	{CLEAR_VARIABLE temp_ally}
[/event]

[event]
	name=last breath

	[filter]
		[not]
			side=1
		[/not]
		[and]
			canrecruit=yes
		[/and]
		[and]
			[filter_side]
				#team_name=VaeliaTeam
				[allied_with]
					side=1
				[/allied_with]
				#[has_ally]
				#	side=1
				#[/has_ally]
			[/filter_side]
		[/and]
	[/filter]

	[message]
		speaker=unit
		message= _ "Gah! Avenge me Vaelia."
	[/message]
	[message]
		speaker=second_unit
		message= _ "We'll get to Vaelia, soon enough."
	[/message]
[/event]

#[event]
#	name=moveto
#	first_time_only=yes
#	[filter]
#		[not]
#			side=1
#		[/not]
#		[and]
#			canrecruit=no
#		[/and]
#		[and]
#			[filter_side]
#				#team_name=VaeliaTeam
#				[allied_with]
#					side=1
#				[/allied_with]
#				#[has_ally]
#				#	side=1
#				#[/has_ally]
#			[/filter_side]
#		[/and]
#		[and]
#			[filter_vision]
#				side=1
#			[/filter_vision]
#		[/and]
#	[/filter]
#
#	[message]
#		speaker=unit
#		message=_"We got this flank covered"
#	[/message]
#[/event]

[event]
	name=last_breath

	first_time_only=no
	[filter]
		canrecruit=yes
		[filter_side]
			[enemy_of]
				side=1
			[/enemy_of]
		[/filter_side]
	[/filter]
	[message]
		speaker=second_unit
		message= _ "Die villain!"
	[/message]
	[message]
		speaker=$unit.id
		message=_"I will haunt you from beyond!"
	[/message]
[/event]
#enddef

#define VRA_OBJ_POTION_HOLY X Y ID
    {PICKUPPABLE_ITEM {ID} {X} {Y} (
        side=1
        [has_attack]
            range=melee
            [not]
                type=arcane
            [/not]
        [/has_attack]
    ) items/holy-water.png
    _"Sprinkling this water on melee and ranged weapons grants them the <i>arcane</i> damage type until the end of the current scenario. Should $unit.name use it?"
    _"holy water^Take it"
    _"holy water^Leave it"
    _"$unit.name has no need for this Holy Water! Let another take it." (
        [object]
            name= _ "Holy Water"
            image=items/holy-water.png
            duration=scenario
            description= _ "This water will make melee and ranged weapons have the <i>arcane</i> damage type until the end of the current scenario."
            [effect]
                apply_to=attack
                range=melee
                set_type=arcane
            [/effect]
            [effect]
                apply_to=attack
                range=ranged
                set_type=arcane
            [/effect]
        [/object]
        [sound]
            name={SOUND_LIST:HOLY}
        [/sound]
    )}
#enddef

#define VRA_OBJ_POTION_POWER X Y ID
    {PICKUPPABLE_ITEM {ID} {X} {Y} (
	side=1
	) items/potion-blue.png
    _"Drinking this potion will give you power!"
    _"potion of power^Drink it"
    _"potion of power^Leave it"
    _"$unit.name has no need for this Potion of Power! Let another take it." (
        [object]
            name= _ "Potion of Power"
            image=items/potion-blue.png
            duration=scenario
            description= _ "This tastes great."
            [effect]
                apply_to=attack
                range=melee
                increase_damage=1
            [/effect]
            [effect]
                apply_to=attack
                range=ranged
                increase_damage=1
            [/effect]
            [effect]
                apply_to=hitpoints
                increase_total=2
                heal_full=yes
            [/effect]
            [effect]
                apply_to=movement
                increase=2
            [/effect]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_REGENERATES}
                [/abilities]
            [/effect]
        [/object]
    )}
#enddef

#define SCENE_OBJECTS
{VRA_OBJ_POTION_POWER 24 24 object_potion_1}
{VRA_OBJ_POTION_POWER 24 25 object_potion_2}
{VRA_OBJ_POTION_POWER 24 26 object_potion_3}

{VRA_OBJ_POTION_HOLY 25 24 object_potion_4}
{VRA_OBJ_POTION_HOLY 25 25 object_potion_5}
{VRA_OBJ_POTION_HOLY 25 26 object_potion_6}

{VRA_OBJ_POTION_POWER 26 24 object_potion_7}
{VRA_OBJ_POTION_POWER 26 25 object_potion_8}
{VRA_OBJ_POTION_POWER 26 26 object_potion_9}
#enddef
